:root {
  --main-body-color: #333;
  --link-color: #145A32;

  --ivy-leaf: "\2766";
  --middot: " \00B7";
}

body {
  color: var(--main-body-color);
  font: 16px/1.6 "Libre Baskerville", "Book Antiqua", Palatino, serif;
  font-variant-numeric: oldstyle-nums;
  text-rendering: optimizeLegibility;
}

.site-title {
  font-size: 1.6em;
  font-weight: normal;
}

h2,
h3 {
  font-weight: normal;
}

.post-title code {
  font-size: 1.2em;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

blockquote {
  font-style: italic;
}

blockquote em {
  font-style: normal;
}

main {
  margin: 0 auto;
  max-width: 44em;
}

pre {
  padding: 0.4em 0.8em;
  background: #f8f8f8;
  border-radius: 0.3em;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

pre,
code,
kbd {
  font-family: "Inconsolata", monospace;
  line-height: 1.3em;
}

code {
  font-size: 1.2em;
}

img {
  max-width: 100%;
}

.tag-list {
  color: #aaa;
  font-size: 0.9em;
  font-style: italic;
}

.footnotes {
  border-top: thin var(--main-body-color) solid;
}

hr {
  background-color: var(--main-body-color);
  border: none;
  height: 1px;
}

.post-summary h3 {
  margin-bottom: 0;
}

.post-summary p {
  margin-top: 0;
  margin-left: 1em;
}

.ivy:after {
  text-align: center;
  display: block;
  content: var(--ivy-leaf);
}

.hidden-h-entry-fields {
  display: none;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 0.7em Helvetica, Arial, sans-serif;
  width: 100%;
}

nav ul {
  padding: 0;
}

nav ul>li {
  display: inline-block;
}

nav ul>li:not(:last-child):after {
  content: var(--middot);
}

@media print,
screen and (max-width: 40em) {
  main {
    width: auto;
    margin: 0;
  }
}

@media print {
  header {
    display: none;
  }

  body {
    font-size: 0.5em;
    color: black;
  }

  a {
    color: black;
  }

  .highlight {
    page-break-inside: avoid;
  }

  .pagination {
    display: none;
  }
}

code {
  font-size: 0.7em;
  display: block;
  white-space: pre-wrap;
}

.bibtex {
  display: none;
}